{
  "openapi": "3.1.0",
  "info": {
    "description": "V1.0 of the set of APIs for the new 'Submit an application to change the Land Register API' Schema",
    "title": "V1.0 'Submit an application to change the Land Register API' Schema",
    "version": "1.0.4"
  },
  "servers": [
    {
      "url": "https://businessgateway.landregistry.gov.uk/bg2/api",
      "description": "Production"
    },
    {
      "url": "https://bgtest.landregistry.gov.uk/bg2test/api",
      "description": "Stub"
    }
  ],
  "paths": {
    "/v1/applications": {
      "post": {
        "summary": "Submit an application",
        "description": "Submit an application API - Submit application creation requests for processing",
        "operationId": "submit_an_application_to_change_the_register_v1",
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubstantiveApplication"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationCreationDataResponse"
                }
              }
            },
            "description": "Application creation request accepted",
            "headers": {
              "Location": {
                "description": "Get application creation status URI for checking status",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request due to payload not meeting the required schema"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorised - an access token is required"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Submit an application API"
        ]
      }
    },
    "/v1/documents/{document_id}": {
      "get": {
        "summary": "Obtain download link for an HMLR document",
        "description": "Request the download link for a document. Currently only supports the download of documents HMLR despatches, i.e correspondence, cancellation and completion documents.",
        "operationId": "download_a_document_v1",
        "parameters": [
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "May also be referred to as the `download_id` by some services"
          }
        ],
        "responses": {
          "302": {
            "description": "Resource was successfully found.",
            "headers": {
              "location": {
                "description": "URL to the document resource for download",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Not Found"
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Too Many Requests"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Download a document API"
        ]
      }
    },
    "Download a document": {
      "servers": [
        {
          "url": "documentcapture.landregistry.gov.uk",
          "description": "An example domain for document downloads"
        }
      ],
      "get": {
        "operationId": "Download a document",
        "description": "Download the document contents. <br/><br/>**Note**: This URL, including hostname and path parameters is returned from the GET `/documents/{document_id}` URL endpoint via the `location` header and **should be used unmodified**.",
        "security": [],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/octet-stream":{
  
              }
            }
          },
          "404": {
            "description": "Not Found."
          }
        },
        "tags": [
          "Download a document API"
        ]
      }
    },
    "/v1/documents/url": {
      "post": {
        "summary": "Request upload URL for your application attachments",
        "description": "Create an upload URL - Retrieve a generated document upload URL",
        "operationId": "send_a_document_v1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUploadUrlRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentUploadUrlDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorised - an access token is required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Send a document API"
        ]
      }
    },
    "Upload a document": {
      "servers": [
        {
          "url": "documentcapture.landregistry.gov.uk",
          "description": "An example domain for document uploads"
        }
      ],
      "put": {
        "operationId": "Upload a document",
        "description": "Upload a document - Upload the document contents. **Note**: This URL, including hostname and path parameters is returned from the create URL endpoint and **should be used unmodified**. The path and hostname given in the API specification here are examples only.",
        "security": [],
        "parameters": [
          {
            "in": "header",
            "name": "X-Amz-Checksum-Sha256",
            "description": "The base64 encoded SHA-256 hash of the file contents. Must match both the document being uploaded and the value provided to the create URL endpoint.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Content-Length",
            "description": "The length of the file in bytes. Must match both the document being uploaded and the value provided to the create URL endpoint.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden. Ensure the content length and SHA-256 headers have been provided, and match both the file length and sha256 hash, and were the same values supplied to the create URL endpoint"
          }
        },
        "tags": [
          "Send a document API"
        ]
      }
    },
    "/v1/applications/{application_request_id}/information": {
      "get": {
        "summary": "Get application details",
        "description": "Can return status, fees and correspondence documents for an application",
        "operationId": "get_application_information_v1",
        "parameters": [
          {
            "description": "The ID returned by Application Creation to track submission requests",
            "in": "path",
            "name": "application_request_id",
            "example": "12345678-1234-1234-1234-123546789abc",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationInformationDataResponse"
                }
              }
            },
            "description": "Request status received"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorised - an access token is required"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Application creation request not found in the system"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Application information API"
        ]
      }
    },
    "/v1/applications/{application_request_id}/attachments": {
      "post": {
        "summary": "Attach a document to an existing application",
        "description": "Attach a document from Send a Document to an existing application",
        "operationId": "attach_a_document_v1",
        "parameters": [
          {
            "description": "The ID returned by Application Creation to track submission requests",
            "in": "path",
            "name": "application_request_id",
            "example": "12345678-1234-1234-1234-123546789abc",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachADocumentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorised - an access token is required"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Application creation request not found in the system"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Attach a document"
        ]
      }
    },
    "/v1/applications/{application_request_id}/messages": {
      "post": {
        "summary": "Attach a message to an existing application",
        "description": "Application information API - Get the information about an application",
        "operationId": "attach_a_message_v1",
        "parameters": [
          {
            "description": "The ID returned by Application Creation to track submission requests",
            "in": "path",
            "name": "application_request_id",
            "example": "12345678-1234-1234-1234-123546789abc",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachAMessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Unauthorised - an access token is required"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Application creation request not found in the system"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Attach a message"
        ]
      }
    },
    "/v1/notifications": {
      "get": {
        "description": "Receive notifications API - Get any unacknowledged notifications",
        "operationId": "get_notifications_v1",
        "parameters": [
          {
            "in": "query",
            "name": "created_before",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "created_after",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NEW",
                "ACKNOWLEDGED"
              ]
            }
          },
          {
            "in": "query",
            "name": "occurred_before",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "occurred_after",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "in": "query",
            "name": "notification_type",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "minLength": 0,
              "pattern": "^[A-Za-z0-9._@-]*$"
            }
          },
          {
            "in": "query",
            "name": "subject",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 64,
              "minLength": 0,
              "pattern": "^[A-Za-z0-9._@-]*$"
            }
          },
          {
            "in": "query",
            "name": "additional_provider_filter",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 50,
              "minLength": 1
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notifications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NotificationResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "tags": [
          "Notifications API"
        ]
      }
    },
    "/v1/notifications/acknowledge": {
      "post": {
        "description": "Acknowledge notifications API - Acknowledge notifications that have been processed, so they are no longer returned when fetching",
        "operationId": "acknowledge_notifications_v1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notifications acknowledged successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BulkAcknowledgeResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetail"
                }
              }
            }
          }
        },
        "tags": [
          "Notifications API"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AddressReference": {
        "maxLength": 50,
        "minLength": 1,
        "pattern": "^[A-Za-z0-9-?,_]+$",
        "type": "string",
        "description": "Unique identifier for addresses, used to reference addresses from elsewhere in the spec",
        "example": "address_reference_1"
      },
      "PartyReference": {
        "maxLength": 50,
        "minLength": 1,
        "pattern": "^[A-Za-z0-9-?,_]+$",
        "type": "string",
        "description": "Unique identifier for parties, used to reference parties from elsewhere in the spec",
        "example": "customer"
      },
      "DocumentReference": {
        "maxLength": 50,
        "minLength": 1,
        "pattern": "^[A-Za-z0-9-?,_]+$",
        "type": "string",
        "description": "Unique identifier for documents, used to reference documents from elsewhere in the spec",
        "example": "signed_charge"
      },
      "AddressDetails": {
        "type": "object",
        "description": "The details captured for a specific address. Details differ depending on type",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "UK",
              "OVERSEAS",
              "EMAIL",
              "DX",
              "BFPO",
              "PO_BOX"
            ]
          }
        },
        "discriminator": {
          "propertyName": "type"
        }
      },
      "AddressForServiceOption": {
        "type": "string",
        "description": "* `PROVIDED_ADDRESS` - The address for service has been provided alongside this option\n* `NOT_REQUIRED` - The address for service is not required for the party",
        "enum": [
          "PROVIDED_ADDRESS",
          "NOT_REQUIRED"
        ]
      },
      "AmountDetails": {
        "type": "object",
        "description": "A type of TransactionDetails that captures the value of the transaction",
        "allOf": [
          {
            "$ref": "#/components/schemas/TransactionDetails"
          },
          {
            "type": "object",
            "properties": {
              "value": {
                "minimum": 0,
                "description": "The value associated with the transaction in pounds",
                "type": "integer",
                "format": "int32"
              },
              "value_band": {
                "$ref": "#/components/schemas/ValueBand"
              },
              "full_value_of_property_band": {
                "$ref": "#/components/schemas/ValueBand"
              },
              "full_value_of_property": {
                "type": "integer",
                "format": "int32",
                "description": "Full value of the property in the title(s) in pounds"
              },
              "outstanding_charge": {
                "type": "integer",
                "format": "int32",
                "description": "Value in pounds of any outstanding charge if applicable"
              }
            }
          }
        ]
      },
      "Charge": {
        "required": [
          "date",
          "value"
        ],
        "type": "object",
        "description": "A TransactionDetails object to capture information about a charge",
        "allOf": [
          {
            "$ref": "#/components/schemas/TransactionDetails"
          },
          {
            "type": "object",
            "properties": {
              "date": {
                "description": "The date of the charge, in the format yyyy-MM-dd",
                "type": "string",
                "format": "date"
              },
              "mdref": {
                "maxLength": 10,
                "minLength": 0,
                "description": "The unique MD reference given to the mortgage",
                "type": "string",
                "example": "MD123A"
              },
              "value": {
                "type": "integer",
                "description": "The total charge amount for all titles in pounds",
                "format": "int32"
              }
            }
          }
        ]
      },
      "ValidationDisagreement": {
        "description": "Fields to describe which validation results are contested and why",
        "properties": {
          "comment": {
            "type": "string",
            "description": "A free text description of the disagreement",
            "maxLength": 250,
            "minLength": 1
          },
          "reason": {
            "type": "string",
            "description": "The reason for disagreeing with the validation result",
            "enum": [
              "DISAGREE_WITH_REGISTER",
              "HMLR_DATA_INCORRECT_OR_OUTDATED",
              "EXCEPTION_NOT_COVERED_BY_BUSINESS_RULES"
            ]
          },
          "validation_pointer": {
            "type": "string",
            "description": "A JSON pointer to the contested field in the submission payload. Should match the 'pointer' returned within a status API error",
            "maxLength": 250,
            "minLength": 1
          },
          "validation_type": {
            "type": "string",
            "description": "The type of validation being contested. Should match the 'type' returned within a status API error",
            "maxLength": 250,
            "minLength": 1
          }
        },
        "required": [
          "comment",
          "reason",
          "validation_pointer",
          "validation_type"
        ]
      },
      "CorrespondenceDocumentType": {
        "properties": {
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CorrespondenceRecordDocumentItemWithDownloadId": {
        "description": "List of documents in the correspondence record",
        "properties": {
          "created_at": {
            "type": "string"
          },
          "download_id": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/CorrespondenceDocumentType"
          }
        },
        "required": [
          "type"
        ]
      },
      "CorrespondenceRecordInApplicationInformation": {
        "description": "Representation of a correspondence record",
        "properties": {
          "documents": {
            "type": "array",
            "description": "List of documents in the correspondence record",
            "items": {
              "$ref": "#/components/schemas/CorrespondenceRecordDocumentItemWithDownloadId"
            }
          },
          "record_id": {
            "type": "string",
            "description": "ID of the correspondence record",
            "example": "1234567"
          }
        },
        "required": [
          "documents",
          "record_id"
        ]
      },
      "Discharge": {
        "required": [
          "discharge_submission_type"
        ],
        "type": "object",
        "description": "A TransactionDetails object to capture information about a discharge",
        "allOf": [
          {
            "$ref": "#/components/schemas/TransactionDetails"
          },
          {
            "type": "object",
            "properties": {
              "discharge_submission_type": {
                "type": "string",
                "description": "How the discharge will be submitted:\n* ATTACHED - The discharge is submitted with this application\n* LENDER - The lender will submit the discharge\n* LATER - The discharge will be submitted later",
                "enum": [
                  "ATTACHED",
                  "LENDER",
                  "LATER"
                ]
              }
            }
          }
        ]
      },
      "DocumentMetadata": {
        "required": [
          "certification_statement_type",
          "document_filename"
        ],
        "type": "object",
        "description": "Metadata about the document that was uploaded",
        "properties": {
          "certification_statement_type": {
            "type": "string",
            "description": "* `CERTIFIED` - I/we certify this is a true copy of an original document\n* `CERTIFIED_BY_ANOTHER` - I/we certify this document is a true copy of an original document which is certified by a conveyancer to be a true copy of the original\n* `NOT_CERTIFIED` - This document is an uncertified copy ",
            "enum": [
              "CERTIFIED",
              "CERTIFIED_BY_ANOTHER",
              "NOT_CERTIFIED"
            ]
          },
          "document_filename": {
            "maxLength": 255,
            "minLength": 0,
            "description": "The filename of the document",
            "type": "string",
            "example": "thedeed.pdf"
          }
        }
      },
      "DocumentUploadUrlDataResponse": {
        "type": "object",
        "description": "The response object containing information needed for uploading a document",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DocumentUploadUrlResponse"
          }
        }
      },
      "DocumentUploadUrlResponse": {
        "type": "object",
        "description": "The response object containing information needed for uploading a document",
        "properties": {
          "upload_url": {
            "type": "string",
            "description": "The URL used to upload the document. The request must be a PUT HTTP request, where the body of the request is the document that will be uploaded. This URL should only be used once",
            "example": "about:blank"
          },
          "document_id": {
            "type": "string",
            "description": "A unique id for this document, which should be used in the application submission request",
            "example": "12345678-1234-1234-1234-1234-123456789abc"
          }
        }
      },
      "DocumentUploadUrlData": {
        "required": [
          "file_length",
          "file_sha256",
          "document_type"
        ],
        "type": "object",
        "description": "The data needed to generate a URL to upload a document",
        "properties": {
          "document_type": {
            "type": "string",
            "description": "The HM Land registry document type",
            "enum": [
              "ABSTRACT",
              "ACKAPU",
              "ADJAR",
              "ADJREVU",
              "ADMIN_LTRS",
              "ADV1",
              "ADV2",
              "AGREEMENT",
              "AMS1",
              "AN1",
              "AP1",
              "APPL_FRM",
              "APPOINTMENT_OF_TRUSTEE",
              "AS1",
              "AS2",
              "AS3",
              "ASSENT",
              "ASSIGNMENT",
              "BIRTH_CERT",
              "BOUND_PLAN",
              "CC",
              "CCD",
              "CERT_CON_CH",
              "CERT_DEATH",
              "CERT_RED_EX",
              "CERT_REG_CH",
              "CERT_S89",
              "CH1",
              "CH2",
              "CH3",
              "CHARG_ORD",
              "CHARGE",
              "CIVIL_CERT",
              "CM2",
              "CM5",
              "CM6",
              "CN1",
              "CNFRM_DTMN_LTA_LGHA",
              "CNFRM_NO_DEED_SUR",
              "CNFRM_NO_LTA_LGHA",
              "CNSNT_ADMIN_COURT",
              "COMP_DOC",
              "CONSENT",
              "CONST_COMP",
              "CONTR_RES",
              "CONV_CERT",
              "CONV_CERT_DEATH",
              "CONVEYANCE",
              "COR_CERT",
              "CORRES",
              "COSR",
              "COURT_ORD",
              "CRALIQ",
              "CRED_DEC",
              "CRED_RES",
              "CRT_FORM_7",
              "CRWALIQ",
              "DB",
              "DEATH_CERT",
              "DEBENTURE",
              "DEC_AB_NULL_MARR",
              "DEED",
              "DEED_POLL",
              "DEED_REG_DIS",
              "DEED_SUR",
              "DISCHARGE",
              "DJP",
              "DL",
              "DOP",
              "DRIVING_LICENCE",
              "DS1",
              "DS2",
              "DS3",
              "DS3_SHORT",
              "EOB",
              "EOL",
              "EVD_NO_RENEW",
              "EVIDENCE",
              "EV_OV_NAME_CHANGE",
              "EX1",
              "EX1A",
              "EX3",
              "FORM_600",
              "FORM_600CH",
              "FORM_DI",
              "FORM_JO",
              "FR1",
              "GENDER_CERT",
              "GVD",
              "HR1",
              "HR2",
              "HR4",
              "ID1",
              "ID2",
              "ID3",
              "ID4",
              "ID5",
              "ID_EV",
              "ID_FRM",
              "INDENTURE",
              "JP1",
              "K17_OR_K18",
              "K20",
              "K22",
              "K3",
              "K4",
              "LEASE",
              "LICENCE",
              "LIQ_CERT_1",
              "LIQ_CERT_2",
              "LIQ_CERT_3",
              "LIQ01",
              "LNDLD_CNSNT",
              "LONP",
              "LR_CORRES",
              "LTT",
              "MARR_CERT",
              "MEMO",
              "MORD",
              "MRTG_DEED",
              "NOD",
              "ORD_DISS_NULL_CP",
              "PASSPORT",
              "PLAN",
              "POA",
              "PROBATE",
              "PSS1",
              "REVERS_INT",
              "RN",
              "RX1",
              "RX2",
              "RX3",
              "RX4",
              "RXC",
              "RXCD",
              "SC",
              "SDLT",
              "SEV",
              "SHRF_RTN",
              "SIDE_LTR",
              "SOT",
              "SSALIQ",
              "STAT_DEC",
              "SUB_CHARGE",
              "TP1",
              "TP2",
              "TR1",
              "TR2",
              "TR4",
              "TR5",
              "TRANSFER",
              "TRUSTEE_RESOLUTION",
              "UN1",
              "UN2",
              "UN3",
              "UN4",
              "UT1",
              "VAR_CHARGE",
              "VAR_COV",
              "VAR_EAS",
              "VAR_LEASE",
              "VESTING_ORDER",
              "WCT",
              "WINDING_UP",
              "WIT_STATE"
            ]
          },
          "additional_provider_filter": {
            "maxLength": 300,
            "minLength": 1,
            "type": "string",
            "description": "A value that can be used to subsequently retrieve request responses based upon high level grouping"
          },
          "file_length": {
            "maximum": 41943040,
            "minimum": 1,
            "type": "integer",
            "description": "The file contents length in bytes",
            "format": "int64"
          },
          "file_sha256": {
            "maxLength": 44,
            "minLength": 44,
            "type": "string",
            "description": "The checksum of file contents, as a base64 encoded string of the SHA-256 binary digest of the file, which should be 44 characters long. See the Business Gateway developer pack for detailed information on generating the correct SHA-256 hash"
          }
        }
      },
      "DocumentUploadUrlRequest": {
        "required": [
          "data"
        ],
        "type": "object",
        "description": "The request to send to the endpoint to request an upload URL",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/DocumentUploadUrlData"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Wrapper for any error responses",
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "example": "https://landregistry.github.io/bgtechdoc/problems/global#bad-request"
          },
          "title": {
            "type": "string",
            "example": "Bad Request"
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "example": 400
          },
          "detail": {
            "type": "string",
            "example": "The request is invalid or malformed."
          },
          "instance": {
            "type": "string",
            "format": "uri"
          },
          "code": {
            "type": "string",
            "example": "ignore me"
          },
          "errors": {
            "type": "array",
            "description": "A list of all errors generated",
            "items": {
              "$ref": "#/components/schemas/ProblemDetails"
            }
          }
        }
      },
      "ProblemDetails": {
        "required": [
          "detail",
          "type"
        ],
        "description": "Detailed information about an error",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of error received",
            "example": "L2_MDREF_ERROR"
          },
          "detail": {
            "type": "string",
            "description": "A longer description about the type of error received",
            "example": "The MDref included in the request does not exist"
          },
          "pointer": {
            "type": "string",
            "description": "A JSON pointer to the location in the JSON payload that caused the error (optional)",
            "example": "/data/transaction/t1/mdref"
          }
        }
      },
      "ProblemDetail": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "example": "about:blank",
            "description": "A uri referencing documentation for this problem"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "example": "Server Error",
            "description": "A brief summary of the problem"
          },
          "detail": {
            "type": "string",
            "nullable": true,
            "example": "There was a problem with your request, try again soon.",
            "description": "A human readable explanation of the problem"
          },
          "instance": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "example": "/path/you/called",
            "description": "A reference that identifies the specific occurrence of the problem"
          },
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 599,
            "nullable": true,
            "description": "HTTP status code of the original response",
            "example": 500
          },
          "errors": {
            "nullable": true,
            "type": "array",
            "description": "An extension to the RFC that describes errors that occurred in the request",
            "items": {
              "$ref": "#/components/schemas/ErrorDescription"
            }
          }
        }
      },
      "ErrorDescription": {
        "type": "object",
        "required": [
          "detail"
        ],
        "properties": {
          "detail": {
            "description": "A human readable explanation of the error",
            "type": "string",
            "example": "Date must be in the past"
          },
          "pointer": {
            "description": "A JSON pointer to where in the body this error occurred",
            "nullable": true,
            "type": "string",
            "example": "#/data/name"
          },
          "header": {
            "description": "The header where this error occurred",
            "nullable": true,
            "type": "string",
            "example": "Idempotency-Key"
          },
          "parameter": {
            "description": "The path or query parameter where this error occurred",
            "nullable": true,
            "type": "string",
            "example": "occurred_before"
          }
        }
      },
      "ApplicationCreationDataResponse": {
        "type": "object",
        "description": "The response wrapper from the application submission request",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ApplicationCreationResponse"
          }
        }
      },
      "ApplicationCreationResponse": {
        "type": "object",
        "description": "The response from the application submission endpoint",
        "properties": {
          "application_request_id": {
            "type": "string",
            "description": "The ID of the application submission request",
            "example": "12345678-1234-1234-1234-123546789abc"
          }
        }
      },
      "ApplicationInformationDataResponse": {
        "type": "object",
        "description": "Data wrapper for the status response",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/ApplicationInformationResponse"
          }
        }
      },
      "ApplicationInformationResponse": {
        "type": "object",
        "description": "The response object for the application status endpoint",
        "properties": {
          "correspondences": {
            "type": "array",
            "description": "A list of correspondence records on the application",
            "items": {
                "$ref": "#/components/schemas/CorrespondenceRecordInApplicationInformation"
            }
          },
          "errors": {
            "type": "array",
            "description": "A list of errors that caused the application to not be accepted",
            "items": {
              "$ref": "#/components/schemas/ProblemDetails"
            }
          },
          "hmlr_reference": {
            "type": "string",
            "description": "The reference used by HM Land Registry to identify the application",
            "example": "A123BCD"
          },
          "priority_timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The priority date and time of when the application was accepted onto the day list"
          },
          "application_request_id": {
            "type": "string",
            "description": "The ID of the application submission request",
            "example": "12345678-1234-1234-1234-123546789abc"
          },
          "status": {
            "type": "string",
            "description": "* `VALIDATING` - The application is currently being processed.\n* `SYSTEM_ERROR` - There was an error creating the application, please retry the submission.\n* `VALIDATION_FAILED` - We have not accepted the application due to validation errors\n* `ACCEPTED_AWAITING_PRIORITY` - The application has passed validation, and will be accepted onto the day list when it reopens\n* `ACCEPTED_PRIORITY_PROTECTED` - The application has been accepted onto the day list",
            "enum": [
              "VALIDATING",
              "SYSTEM_ERROR",
              "VALIDATION_FAILED",
              "ACCEPTED_AWAITING_PRIORITY",
              "ACCEPTED_PRIORITY_PROTECTED"
            ]
          },
          "warnings": {
            "type": "array",
            "description": "Warnings that need to be actioned before the application is processed by a caseworker, otherwise a requisition may be issued.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ApplicationLodger": {
        "description": "Information about the person lodging the application (This is usually the conveyancer lodging on behalf of an individual)",
        "required": [
          "email",
          "type"
        ],
        "type": "object",
        "properties": {
          "email": {
            "maxLength": 254,
            "minLength": 0,
            "pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
            "type": "string",
            "description": "The email address of the application lodger",
            "example": "me@site.co.uk"
          },
          "telephone": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "A telephone number that can be used to contact the person lodging the application",
            "example": "+440000000000"
          },
          "type": {
            "type": "string",
            "description": "* `CONVEYANCER` - The user submitting the application is a conveyancer or acting on behalf of a conveyancer\n* `NON_CONVEYANCER` - The user submitting the application is not a conveyancer",
            "enum": [
              "CONVEYANCER",
              "NON_CONVEYANCER"
            ]
          }
        }
      },
      "OtherConveyancer": {
        "required": [
          "full_name",
          "registered_address",
          "conveyancer_reference"
        ],
        "type": "object",
        "description": "Information about another conveyancer (who is not the lodging conveyancer) representing a party on the application",
        "properties": {
          "conveyancer_reference": {
            "maxLength": 25,
            "minLength": 0,
            "type": "string",
            "description": "The conveyancer's reference",
            "example": "party_1"
          },
          "full_name": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string",
            "description": "The conveyancer's full name",
            "example": "John Doe"
          },
          "registered_address": {
            "type": "string",
            "description": "The conveyancer's registered address",
            "maxLength": 500,
            "minLength": 0
          }
        }
      },
      "SubstantiveApplicationData": {
        "required": [
          "customer_reference",
          "application_lodger",
          "submission_warning_understood",
          "titles",
          "transactions",
          "type"
        ],
        "type": "object",
        "description": "The data required to capture an application",
        "properties": {
          "additional_provider_filter": {
            "type": "string",
            "description": "A value that can be used to subsequently retrieve request responses based upon high level grouping",
            "maxLength": 50,
            "minLength": 0,
            "pattern": "^\\w*$"
          },
          "addresses": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Address"
            },
            "description": "A map of address references to addresses"
          },
          "applicants": {
            "type": "array",
            "description": "The party or parties who the application is being submitted for.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PartyReference"
                }
              ],
              "description": "The party or parties who the application is being submitted for."
            }
          },
          "application_lodger": {
            "$ref": "#/components/schemas/ApplicationLodger"
          },
          "customer_reference": {
            "type": "string",
            "description": "A short name/reference a customer has given to the application",
            "maxLength": 25,
            "minLength": 0
          },
          "disagree_with_validation_results": {
            "type": "array",
            "description": "A list of instances for which the user disagrees with validation errors",
            "items": {
              "$ref": "#/components/schemas/ValidationDisagreement"
            }
          },
          "documents": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/DocumentDetails"
            },
            "description": "A map of document references to documents"
          },
          "jp1_reference": {
            "type": "string",
            "description": "The JP1 reference to use when removing a JP1 restriction",
            "maxLength": 7,
            "minLength": 7,
            "pattern": "^([a-zA-Z0-9]*)$"
          },
          "parties": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Party"
            },
            "description": "A map of party references to parties"
          },
          "submission_warning_understood": {
            "type": "boolean",
            "description": "Setting this value to true notes you have understood the following: <br>**WARNING** <br>If you dishonestly enter information or make a statement that you know is, or might be, untrue or misleading, and intend by doing so to make a gain for yourself or another person, or to cause loss or the risk of loss to another person, you may commit the offence of fraud under section 1 of the Fraud Act 2006, the maximum penalty for which is 10 years’ imprisonment or an unlimited fine, or both. <br>Failure to complete this form with proper care may result in a loss of protection under the Land Registration Act 2002 if, as a result, a mistake is made in the register.  <br>Under section 66 of the Land Registration Act 2002 most documents (including this form) kept by the registrar relating to an application to the registrar or referred to in the register are open to public inspection and copying. If you believe a document contains prejudicial information, you may apply for that part of the document to be made exempt using Form EX1, under rule 136 of the Land Registration Rules 2003"
          },
          "titles": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/TitleDetails"
            },
            "description": "A map of title references to titles",
            "maxProperties": 199,
            "minProperties": 1
          },
          "transactions": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/Transaction"
            },
            "description": "A map of transaction references to transactions",
            "minProperties": 1
          },
          "type": {
            "type": "string",
            "description": "The type of application to submit",
            "enum": [
              "REGISTER_UPDATE",
              "TRANSFER_OF_PART",
              "DISPOSITIONARY_FIRST_LEASE",
              "REMOVE_JP1"
            ]
          }
        }
      },
      "SubstantiveApplication": {
        "required": [
          "data"
        ],
        "type": "object",
        "description": "The request to submit an application to HM Land Registry",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SubstantiveApplicationData"
          }
        }
      },
      "TitleDetails": {
        "required": [
          "scope_details",
          "title_number",
          "title_type",
          "disclosable_overriding_interests"
        ],
        "type": "object",
        "description": "Information about a HM Land Registry title",
        "properties": {
          "disclosable_overriding_interests": {
            "type": "boolean",
            "description": "Are there any disclosable overriding interests for the title"
          },
          "scope_details": {
            "$ref": "#/components/schemas/TitleScopeDetails"
          },
          "title_number": {
            "maxLength": 9,
            "minLength": 0,
            "pattern": "^[A-Z]{0,3}[0-9]{1,6}[ZT]?$",
            "type": "string",
            "description": "The HM Land Registry title number"
          },
          "title_type": {
            "type": "string",
            "description": "* `REGISTER_TITLE` - Any titles on REGISTER_UPDATE or REMOVE_JP1 application types\n* `TRANSFEROR_TITLE` - Titles related to the transferor (TRANSFER_OF_PART applications only)\n* `LANDLORD_TITLE` - Titles related to the landlord (DISPOSITIONARY_FIRST_LEASE applications only)\n* `TENANT_TITLE` - The title related to the tenant on a DISPOSITIONARY_FIRST_LEASE application which is a lease extension.\n* `ADDITIONAL_TITLE` - Any other titles on TRANSFER_OF_PART or DISPOSITIONARY_FIRST_LEASE applications",
            "enum": [
              "REGISTER_TITLE",
              "TRANSFEROR_TITLE",
              "ADDITIONAL_TITLE",
              "LANDLORD_TITLE",
              "TENANT_TITLE"
            ]
          }
        }
      },
      "TitleScopeDetails": {
        "required": [
          "scope"
        ],
        "type": "object",
        "description": "The scope of the title that is being updated",
        "properties": {
          "part_description": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string",
            "description": "A description of the part of the title being updated",
            "example": "red outlined area"
          },
          "scope": {
            "type": "string",
            "description": "* `WHOLE` - The whole of the title\n* `PART` - Part of the title",
            "enum": [
              "WHOLE",
              "PART"
            ]
          }
        }
      },
      "TransactionDetails": {
        "required": [
          "type"
        ],
        "type": "object",
        "description": "Details of the transaction that apply to all transaction types",
        "properties": {
          "type": {
            "type": "string",
            "description": "The overall type of the transaction (Transfer, Charge, Discharge, Amount)"
          }
        },
        "discriminator": {
          "propertyName": "type"
        }
      },
      "Transfer": {
        "required": [
          "additional_provisions_code",
          "consideration_type",
          "date",
          "title_guarantee_code"
        ],
        "type": "object",
        "description": "Details about a transfer transaction",
        "allOf": [
          {
            "$ref": "#/components/schemas/TransactionDetails"
          },
          {
            "type": "object",
            "properties": {
              "additional_provisions": {
                "type": "string",
                "description": "The provided additional provisions",
                "maxLength": 10000,
                "minLength": 0
              },
              "additional_provisions_code": {
                "type": "string",
                "description": "* `NO_PROVISIONS` - There are no additional provisions\n* `MANUAL_TR1_FORM` - The details of the additional provision are on the TR1 form\n* `DETAILS_ENTERED` - The details have been provided with the submission",
                "enum": [
                  "NO_PROVISIONS",
                  "MANUAL_TR1_FORM",
                  "DETAILS_ENTERED"
                ]
              },
              "consideration_description": {
                "maxLength": 200,
                "minLength": 0,
                "type": "string",
                "description": "The consideration, when a consideration_type of OTHER is specified"
              },
              "consideration_type": {
                "type": "string",
                "description": "* `MONETARY_VALUE` - The sum received by the transferor from the transferee for the property\n* `NO_MONETARY_VALUE` - The transfer is not for money or anything that has a monetary value\n* `OTHER` - to be specified in consideration_description",
                "enum": [
                  "MONETARY_VALUE",
                  "NO_MONETARY_VALUE",
                  "OTHER"
                ]
              },
              "date": {
                "type": "string",
                "format": "date",
                "description": "The date of the transfer, in the format yyyy-MM-dd"
              },
              "title_guarantee_code": {
                "type": "string",
                "description": "* `FULL` - the transferor(s) guarantee, to the best of their knowledge, that there are no financial charges/encumbrances (such as mortgages) or other third party interests (such as rights of way/leases) which affect the property other than those already revealed to the transferee(s).\n* `LIMITED` - a more restricted set of promises by the transferor(s). This guarantees that the transferor(s) have not themselves created, or allowed to be created, any charge, encumbrance or third party interest that still exists at the date of the transfer",
                "enum": [
                  "FULL",
                  "LIMITED"
                ]
              },
              "trust_declaration_type": {
                "type": "string",
                "description": "* `JOINT_TENANTS` - The transferees are joint tenants.\n* `TENANTS_IN_COMMON` - The transferees are tenants in common\n* `TRUST_DETAILS` - Details of the trust declaration will be provided in the application\n* `FORM_JO` - The trust details will be provided in an attached FormJO document",
                "enum": [
                  "JOINT_TENANTS",
                  "TENANTS_IN_COMMON",
                  "TRUST_DETAILS",
                  "FORM_JO"
                ]
              },
              "trust_details": {
                "maxLength": 300,
                "minLength": 0,
                "type": "string",
                "description": "Details of the trust declaration, to be provided when trust_declaration_type is TRUST_DETAILS"
              },
              "value": {
                "minimum": 0,
                "type": "integer",
                "format": "int32",
                "description": "Transaction value of the equity being transferred (including VAT if applicable) in pounds"
              },
              "value_band": {
                "$ref": "#/components/schemas/ValueBand"
              },
              "full_value_of_property_band": {
                "$ref": "#/components/schemas/ValueBand"
              },
              "full_value_of_property": {
                "type": "integer",
                "format": "int32",
                "description": "Full value of the property in the title(s) in pounds"
              },
              "outstanding_charge": {
                "type": "integer",
                "format": "int32",
                "description": "Value in pounds of any outstanding charge if applicable"
              }
            }
          }
        ]
      },
      "ValueBand": {
        "required": [
          "lower_value_band"
        ],
        "type": "object",
        "description": "A range the value of the transaction falls between. Valid bands are:\n* `0 - 100000`\n * `100001 - 200000`\n* `200001 - 500000`\n* `500001 - 1000000`\n* `1000001 +`",
        "properties": {
          "lower_value_band": {
            "minimum": 0,
            "type": "integer",
            "format": "int32",
            "description": "The lower value in the band in pounds"
          },
          "upper_value_band": {
            "minimum": 100000,
            "type": "integer",
            "format": "int32",
            "description": "The upper value in the band in pounds. Not required when lower_value_band equals 1000001"
          }
        }
      },
      "Address": {
        "required": [
          "details"
        ],
        "type": "object",
        "description": "An object containing an address, where the address details may be one of multiple types",
        "properties": {
          "details": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/BfpoAddress"
              },
              {
                "$ref": "#/components/schemas/DxAddress"
              },
              {
                "$ref": "#/components/schemas/EmailAddress"
              },
              {
                "$ref": "#/components/schemas/OverseasAddress"
              },
              {
                "$ref": "#/components/schemas/PoBoxAddress"
              },
              {
                "$ref": "#/components/schemas/UkAddress"
              }
            ]
          }
        }
      },
      "DocumentDetails": {
        "required": [
          "document_id",
          "document_metadata",
          "type"
        ],
        "type": "object",
        "description": "The details about an uploaded document",
        "properties": {
          "companies_house_certification": {
            "type": "boolean",
            "description": "Required when document is of type `CERT_REG_CH`.\nSupplying a value of `true` means the customer confirms that the charge lodged here\n* has been filed at Companies House\n* related to the accompanying certificate of registration."
          },
          "document_id": {
            "type": "string",
            "description": "The id of the document from the document upload request",
            "example": "12345678-1234-1234-1234-123456789abc",
            "minLength": 1
          },
          "document_metadata": {
            "$ref": "#/components/schemas/DocumentMetadata"
          },
          "type": {
            "type": "string",
            "description": "The HM Land Registry document type",
            "enum": [
              "ABSTRACT",
              "ACKAPU",
              "ADJAR",
              "ADJREVU",
              "ADMIN_LTRS",
              "ADV1",
              "ADV2",
              "AGREEMENT",
              "AMS1",
              "AN1",
              "AP1",
              "APPL_FRM",
              "APPOINTMENT_OF_TRUSTEE",
              "AS1",
              "AS2",
              "AS3",
              "ASSENT",
              "ASSIGNMENT",
              "BIRTH_CERT",
              "BOUND_PLAN",
              "CC",
              "CCD",
              "CERT_CON_CH",
              "CERT_DEATH",
              "CERT_RED_EX",
              "CERT_REG_CH",
              "CERT_S89",
              "CH1",
              "CH2",
              "CH3",
              "CHARGE",
              "CHARG_ORD",
              "CIVIL_CERT",
              "CM2",
              "CM5",
              "CM6",
              "CN1",
              "CNFRM_DTMN_LTA_LGHA",
              "CNFRM_NO_DEED_SUR",
              "CNFRM_NO_LTA_LGHA",
              "CNSNT_ADMIN_COURT",
              "COMP_DOC",
              "CONSENT",
              "CONST_COMP",
              "CONTR_RES",
              "CONVEYANCE",
              "CONV_CERT",
              "CONV_CERT_DEATH",
              "CORRES",
              "COR_CERT",
              "COSR",
              "COURT_ORD",
              "CRALIQ",
              "CRED_DEC",
              "CRED_RES",
              "CRT_FORM_7",
              "CRWALIQ",
              "DB",
              "DEATH_CERT",
              "DEBENTURE",
              "DEC_AB_NULL_MARR",
              "DEED",
              "DEED_POLL",
              "DEED_REG_DIS",
              "DEED_SUR",
              "DISCHARGE",
              "DJP",
              "DL",
              "DOP",
              "DRIVING_LICENCE",
              "DS1",
              "DS2",
              "DS3",
              "DS3_SHORT",
              "EOB",
              "EOL",
              "EVD_NO_RENEW",
              "EVIDENCE",
              "EV_OV_NAME_CHANGE",
              "EX1",
              "EX1A",
              "EX3",
              "FORM_600",
              "FORM_600CH",
              "FORM_DI",
              "FORM_JO",
              "FR1",
              "GENDER_CERT",
              "GVD",
              "HR1",
              "HR2",
              "HR4",
              "ID1",
              "ID2",
              "ID3",
              "ID4",
              "ID5",
              "ID_EV",
              "ID_FRM",
              "INDENTURE",
              "JP1",
              "K17_OR_K18",
              "K20",
              "K22",
              "K3",
              "K4",
              "LEASE",
              "LICENCE",
              "LIQ01",
              "LIQ_CERT_1",
              "LIQ_CERT_2",
              "LIQ_CERT_3",
              "LNDLD_CNSNT",
              "LONP",
              "LR_CORRES",
              "LTT",
              "MARR_CERT",
              "MEMO",
              "MORD",
              "MRTG_DEED",
              "NOD",
              "ORD_DISS_NULL_CP",
              "PASSPORT",
              "PLAN",
              "POA",
              "PROBATE",
              "PSS1",
              "REVERS_INT",
              "RN",
              "RX1",
              "RX2",
              "RX3",
              "RX4",
              "RXC",
              "RXCD",
              "SC",
              "SDLT",
              "SEV",
              "SHRF_RTN",
              "SIDE_LTR",
              "SOT",
              "SSALIQ",
              "STAT_DEC",
              "SUB_CHARGE",
              "TP1",
              "TP2",
              "TR1",
              "TR2",
              "TR4",
              "TR5",
              "TRANSFER",
              "TRUSTEE_RESOLUTION",
              "UN1",
              "UN2",
              "UN3",
              "UN4",
              "UT1",
              "VAR_CHARGE",
              "VAR_COV",
              "VAR_EAS",
              "VAR_LEASE",
              "VESTING_ORDER",
              "WCT",
              "WINDING_UP",
              "WIT_STATE"
            ]
          }
        }
      },
      "Party": {
        "required": [
          "details",
          "address_for_service_option",
          "representation_type"
        ],
        "type": "object",
        "description": "A person or entity that has a role in an transaction",
        "properties": {
          "address_for_service_option": {
            "$ref": "#/components/schemas/AddressForServiceOption"
          },
          "addresses": {
            "type": "array",
            "description": "A list of address references for the party",
            "items": {
              "$ref": "#/components/schemas/AddressReference"
            }
          },
          "identity_evidence_type": {
            "type": "string",
            "description": "Required when `representation_type` is `NOT_REPRESENTED`\n* `EVIDENCE` - I have attached evidence of their identity with this application\n* `VERIFIED` - I am satisfied that sufficient steps have been taken to verify their identity and that they are the registered proprietor or have the right to be registered as the proprietor \n* `NOT_REQUIRED` - I don’t need to provide evidence of ID",
            "enum": [
              "EVIDENCE",
              "VERIFIED",
              "NOT_REQUIRED"
            ]
          },
          "other_conveyancer": {
            "$ref": "#/components/schemas/OtherConveyancer"
          },
          "register_action": {
            "type": "string",
            "description": "* `AMEND` - The party information is different to the currently held register information\n* `REMOVE` - The party on the register should be removed",
            "enum": [
              "AMEND",
              "REMOVE"
            ]
          },
          "representation_type": {
            "type": "string",
            "description": "The type of representation the party has.\n* `LODGING_CONVEYANCER` - The conveyancer lodging the application.\n* `OTHER_CONVEYANCER` - The party is represented by another conveyancer. Details will be included with the application.\n* `NOT_REPRESENTED` - The party is not represented by a conveyancer and identity evidence has been provided\n* `NOT_REQUIRED` - The party is not required to have a representation type.",
            "enum": [
              "LODGING_CONVEYANCER",
              "OTHER_CONVEYANCER",
              "NOT_REPRESENTED",
              "NOT_REQUIRED"
            ]
          },
          "details": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/OtherOrganisation"
              },
              {
                "$ref": "#/components/schemas/OverseasCompany"
              },
              {
                "$ref": "#/components/schemas/PrivateIndividual"
              },
              {
                "$ref": "#/components/schemas/UKCompany"
              },
              {
                "$ref": "#/components/schemas/UnknownParty"
              }
            ]
          }
        }
      },
      "PartyRole": {
        "required": [
          "role",
          "party_reference"
        ],
        "type": "object",
        "description": "Information about the roles and capacities for a specific party",
        "properties": {
          "attorneys": {
            "type": "array",
            "description": "List of references to parties who hold power of attorney for this party",
            "items": {
              "type": "string",
              "description": "List of references to parties who hold power of attorney for this party"
            },
            "maxItems": 4,
            "minItems": 0
          },
          "capacity": {
            "type": "string",
            "description": "This enum describes the capacity in which a party is acting in a transaction. The possible values are:\n* `REGISTERED_PROPRIETOR` - The party is acting as a registered proprietor.\n* `ENTITLED_REGISTERED_PROPRIETOR` - The party is acting as entitled to be registered as the proprietor.\n* `ADDITIONAL_TRUSTEE` - The party is acting as an additional trustee.\n* `INSOLVENCY_PRACTITIONER` - The party is acting as an insolvency practitioner.\n* `RECEIVER` - The party is acting as receiver.\n* `DEPUTY` - The party is acting as a deputy.\n* `GUARDIAN` - The party is acting as a guardian.\n* `PERSONAL_REPRESENTATIVE` - The party is acting as a personal representative.\n* `NOT_REQUIRED` - Capacity is not required for the party role (at time of capture by land registry policy).\n* `null` - The capacity value is not known for the party.\n",
            "enum": [
              "REGISTERED_PROPRIETOR",
              "ENTITLED_REGISTERED_PROPRIETOR",
              "ADDITIONAL_TRUSTEE",
              "INSOLVENCY_PRACTITIONER",
              "RECEIVER",
              "DEPUTY",
              "GUARDIAN",
              "PERSONAL_REPRESENTATIVE",
              "NOT_REQUIRED"
            ]
          },
          "party_reference": {
            "$ref": "#/components/schemas/PartyReference"
          },
          "role": {
            "type": "string",
            "description": "The role the party is performing on the transaction",
            "enum": [
              "ATTORNEY",
              "TRANSFEROR",
              "TRANSFEREE",
              "LENDER",
              "BORROWER",
              "PERSONAL_REPRESENTATIVE",
              "ASSENTOR",
              "LANDLORD",
              "TENANT"
            ]
          }
        }
      },
      "PrivateIndividual": {
        "required": [
          "surname",
          "type"
        ],
        "type": "object",
        "description": "A party object to capture infomation about a private individual",
        "allOf": [
          {
            "$ref": "#/components/schemas/PartyDetails"
          },
          {
            "type": "object",
            "properties": {
              "forenames": {
                "maxLength": 366,
                "minLength": 0,
                "type": "string",
                "description": "Forenames of a private individual",
                "example": "John"
              },
              "surname": {
                "maxLength": 366,
                "minLength": 0,
                "type": "string",
                "description": "The surname of a private individual",
                "example": "Doe"
              }
            }
          }
        ]
      },
      "Transaction": {
        "required": [
          "fee_in_pence",
          "type",
          "priority"
        ],
        "type": "object",
        "description": "The object representing a transaction to apply to specific titles on the application",
        "properties": {
          "details": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/AmountDetails"
              },
              {
                "$ref": "#/components/schemas/Charge"
              },
              {
                "$ref": "#/components/schemas/Discharge"
              },
              {
                "$ref": "#/components/schemas/Transfer"
              }
            ]
          },
          "documents": {
            "type": "array",
            "description": "List of document references that are linked to this transaction",
            "items": {
              "$ref": "#/components/schemas/DocumentReference"
            }
          },
          "priority": {
            "maximum": 20,
            "minimum": 1,
            "type": "integer",
            "description": "The priority application the transactions should be processed in. Multiple transactions cannot have the same priority.",
            "format": "int32"
          },
          "fee_in_pence": {
            "type": "integer",
            "minimum": 0,
            "format": "int32",
            "description": "The fee (in pence) for the transaction"
          },
          "relates_to_new_title": {
            "type": "boolean",
            "description": "Indicates if the transaction applies to the new title number that is created during application processing. Applies only for TRANSFER_OF_PART and DISPOSITIONARY_FIRST_LEASE application types."
          },
          "party_roles": {
            "type": "array",
            "description": "A list of roles/capacities for each party relating to the transaction",
            "items": {
              "$ref": "#/components/schemas/PartyRole"
            }
          },
          "type": {
            "type": "string",
            "description": "The HM Land Registry transaction type code",
            "enum": [
              "ADV1",
              "ADV2",
              "AGN",
              "AML",
              "APLC",
              "APLCO",
              "APLM",
              "APR",
              "APT",
              "ARC",
              "ASSTTP",
              "ASTC",
              "ASTT",
              "ATP",
              "ATR",
              "AUN",
              "BKN",
              "BKR",
              "C",
              "CAG",
              "CANI",
              "CANR",
              "CANU",
              "CBKN",
              "CBKR",
              "CCT",
              "CH2",
              "CH3",
              "CHOA",
              "CHOU",
              "CHR",
              "CN",
              "CNC",
              "CNL",
              "COA",
              "COAC",
              "CON",
              "COP",
              "CPD",
              "CPVK",
              "CPVU",
              "CTD",
              "CUR",
              "DB",
              "DCLN",
              "DCLV",
              "DEB",
              "DFL1",
              "DFL3",
              "DFL4",
              "DFL5",
              "DFT",
              "DIS",
              "DJP",
              "DL",
              "DMR",
              "DOG",
              "DP",
              "DSP",
              "DSS",
              "DTL",
              "EX1",
              "EX3",
              "EXR",
              "HR",
              "JP1",
              "LCATCO",
              "LCBD",
              "LCBET",
              "LCBN",
              "LCF",
              "LCMRE",
              "LCOE",
              "LCOF",
              "LCSD",
              "LCSDM",
              "LCSOL",
              "LCSOLM",
              "LCSDWT",
              "LCSDMWT",
              "MDR",
              "NCT",
              "NDC",
              "NFR",
              "NOE",
              "NOL",
              "NOPSC",
              "NPR",
              "NRT",
              "PC",
              "PER",
              "PRO",
              "RC",
              "RE",
              "RFN",
              "RHR",
              "ROCA",
              "ROCC",
              "ROCU",
              "RNT",
              "ROE",
              "RRC",
              "RRD",
              "RTM",
              "RUN",
              "RXL",
              "RXN",
              "RXS",
              "SBC",
              "SHO",
              "SJT",
              "SOT",
              "STVC",
              "STVL",
              "T",
              "TNV",
              "TNVTP",
              "TOC",
              "TOSNV",
              "TOSNVTP",
              "TOSTP",
              "TOSV",
              "TPS",
              "TPSTP",
              "TRC",
              "TRM",
              "TSCNV",
              "TSCNVTP",
              "TSCTP",
              "TSCV",
              "TTP",
              "TVR",
              "TVRTP",
              "UNN",
              "UPT",
              "VC",
              "VLAN",
              "VLAP",
              "VLUN",
              "VO",
              "VOC",
              "VOCA",
              "VOCU",
              "VOE",
              "VOEA",
              "VOEU",
              "VRC",
              "WCT",
              "WDR"
            ]
          },
          "title_references": {
            "type": "array",
            "description": "A list of titles that affect or relate to this transaction",
            "items": {
              "maxLength": 9,
              "minLength": 0,
              "type": "string"
            }
          }
        }
      },
      "UKCompany": {
        "required": [
          "organisation_name"
        ],
        "type": "object",
        "description": "A party object to capture infomation about an UK company",
        "allOf": [
          {
            "$ref": "#/components/schemas/PartyDetails"
          },
          {
            "type": "object",
            "properties": {
              "company_number": {
                "maxLength": 30,
                "minLength": 0,
                "type": "string",
                "description": "The UK Company Number or UK LLC number"
              },
              "organisation_name": {
                "maxLength": 366,
                "minLength": 0,
                "type": "string",
                "description": "Full name registered at Companies House or Company name as incorporated in its state of origin"
              }
            }
          }
        ]
      },
      "OverseasCompany": {
        "required": [
          "incorporation_territory",
          "organisation_name",
          "roe_id_exempt",
          "type"
        ],
        "type": "object",
        "description": "A party object to capture infomation about an overseas company",
        "allOf": [
          {
            "$ref": "#/components/schemas/PartyDetails"
          },
          {
            "type": "object",
            "properties": {
              "company_number": {
                "maxLength": 30,
                "minLength": 0,
                "type": "string",
                "description": "The UK Company Number or UK LLC number"
              },
              "organisation_name": {
                "maxLength": 366,
                "minLength": 0,
                "type": "string",
                "description": "Full name registered at Companies House or Company name as incorporated in its state of origin"
              },
              "incorporation_territory": {
                "maxLength": 254,
                "minLength": 0,
                "type": "string",
                "description": "The territory, country or place where the company was first incorporated"
              },
              "roe_id": {
                "type": "string",
                "description": "Registration of Overseas Entity ID",
                "pattern": "OE\\d{6}"
              },
              "roe_id_exempt": {
                "type": "boolean",
                "description": "Set to true if the company is exempt from providing a ROE ID"
              }
            }
          }
        ]
      },
      "OtherOrganisation": {
        "required": [
          "organisation_name"
        ],
        "type": "object",
        "description": "A party object to capture infomation about an other organisation",
        "allOf": [
          {
            "$ref": "#/components/schemas/PartyDetails"
          },
          {
            "type": "object",
            "properties": {
              "organisation_name": {
                "maxLength": 366,
                "minLength": 0,
                "type": "string",
                "description": "Full name registered at Companies House or Company name as incorporated in its state of origin"
              }
            }
          }
        ]
      },
      "UnknownParty": {
        "required": [
          "freeformat_name",
          "type"
        ],
        "type": "object",
        "description": "A party object to capture infomation about an unknown party",
        "allOf": [
          {
            "$ref": "#/components/schemas/PartyDetails"
          },
          {
            "type": "object",
            "properties": {
              "freeformat_name": {
                "maxLength": 366,
                "minLength": 0,
                "type": "string",
                "description": "The name of the party, when type is UNKNOWN"
              }
            }
          }
        ]
      },
      "PartyDetails": {
        "required": [
          "type"
        ],
        "type": "object",
        "description": "Details of the party that apply to all party types",
        "properties": {
          "type": {
            "type": "string",
            "description": "The overall type of the party (`PRIVATE_INDIVIDUAL` - A singular person `UK_COMPANY` - A company that was incorporated/registered in the UK `OVERSEAS_COMPANY` - A company that was first incorporated outside the UK `OTHER_ORGANISATION` - Any other organisation, e.g. a charity `UNKNOWN` - The type of the party is unknown)",
            "enum": [
              "PRIVATE_INDIVIDUAL",
              "OTHER_ORGANISATION",
              "OVERSEAS_COMPANY",
              "UK_COMPANY",
              "UNKNOWN"
            ]
          }
        },
        "discriminator": {
          "propertyName": "type"
        }
      },
      "BfpoAddress": {
        "description": "A British Forces Post Office address",
        "required": [
          "number",
          "service_number_rank",
          "unit_regiment"
        ],
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/AddressDetails"
          },
          {
            "type": "object",
            "properties": {
              "care_of_name": {
                "maxLength": 200,
                "minLength": 0,
                "type": "string",
                "description": "The care of name to address correspondence to"
              },
              "number": {
                "maxLength": 10,
                "minLength": 0,
                "type": "string",
                "description": "The BPFO number for the address"
              },
              "service_number_rank": {
                "maxLength": 35,
                "minLength": 0,
                "type": "string",
                "description": "The service number of the personnel"
              },
              "unit_regiment": {
                "maxLength": 35,
                "minLength": 0,
                "type": "string",
                "description": "The unit or regiment of the personnel"
              }
            }
          }
        ]
      },
      "DxAddress": {
        "required": [
          "exchange_name",
          "number"
        ],
        "type": "object",
        "description": "A document exchange address",
        "allOf": [
          {
            "$ref": "#/components/schemas/AddressDetails"
          },
          {
            "type": "object",
            "properties": {
              "care_of_name": {
                "maxLength": 200,
                "minLength": 0,
                "type": "string",
                "description": "The care of name to address correspondence to"
              },
              "exchange_name": {
                "maxLength": 20,
                "minLength": 0,
                "type": "string",
                "description": "The DX exchange"
              },
              "number": {
                "maxLength": 10,
                "minLength": 0,
                "type": "string",
                "description": "The DX number"
              }
            }
          }
        ]
      },
      "EmailAddress": {
        "required": [
          "email"
        ],
        "type": "object",
        "description": "An object containing the email address of the customer",
        "allOf": [
          {
            "$ref": "#/components/schemas/AddressDetails"
          },
          {
            "type": "object",
            "properties": {
              "email": {
                "maxLength": 254,
                "minLength": 0,
                "type": "string",
                "description": "The email address of the customer"
              }
            }
          }
        ]
      },
      "OverseasAddress": {
        "type": "object",
        "description": "The address of a premise outside the UK",
        "required": [
          "country"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/AddressDetails"
          },
          {
            "type": "object",
            "properties": {
              "care_of_name": {
                "maxLength": 200,
                "minLength": 0,
                "type": "string",
                "description": "The care of name to address correspondence to"
              },
              "country": {
                "maxLength": 35,
                "minLength": 0,
                "type": "string",
                "description": "The country the address resides in"
              },
              "line1": {
                "maxLength": 35,
                "minLength": 0,
                "type": "string",
                "description": "The first line of the address, may differ per country/region"
              },
              "line2": {
                "maxLength": 35,
                "minLength": 0,
                "type": "string",
                "description": "The second line of the address, may differ per country/region"
              },
              "line3": {
                "maxLength": 35,
                "minLength": 0,
                "type": "string",
                "description": "The third line of the address, may differ per country/region"
              },
              "line4": {
                "maxLength": 35,
                "minLength": 0,
                "type": "string",
                "description": "The fourth line of the address, may differ per country/region"
              },
              "line5": {
                "maxLength": 35,
                "minLength": 0,
                "type": "string",
                "description": "The fifth line of the address, may differ per country/region"
              }
            }
          }
        ]
      },
      "PoBoxAddress": {
        "required": [
          "number",
          "post_town",
          "postcode"
        ],
        "type": "object",
        "description": "An address of a PO Box",
        "allOf": [
          {
            "$ref": "#/components/schemas/AddressDetails"
          },
          {
            "type": "object",
            "properties": {
              "care_of_name": {
                "maxLength": 200,
                "minLength": 0,
                "type": "string",
                "description": "The care of name to address correspondence to"
              },
              "number": {
                "maxLength": 20,
                "minLength": 0,
                "type": "string",
                "description": "The number of the PO Box"
              },
              "post_town": {
                "maxLength": 35,
                "minLength": 0,
                "type": "string",
                "description": "The town/city of the PO Box"
              },
              "postcode": {
                "type": "string",
                "description": "The postcode of the PO Box",
                "minLength": 1,
                "pattern": "^([Gg][Ii][Rr] ?0[Aa]{2})|([A-Za-z]{1,2}[0-9][0-9A-Za-z]? ?[0-9][A-Za-z]{2})$"
              }
            }
          }
        ]
      },
      "UkAddress": {
        "type": "object",
        "description": "A UK postal address",
        "required": [
          "postcode",
          "post_town",
          "building_description"
        ],
        "allOf": [
          {
            "$ref": "#/components/schemas/AddressDetails"
          },
          {
            "type": "object",
            "properties": {
              "building_description": {
                "maxLength": 85,
                "minLength": 0,
                "type": "string",
                "description": "Name of residential or commercial premise"
              },
              "care_of_name": {
                "maxLength": 200,
                "minLength": 0,
                "type": "string",
                "description": "The care of name to address correspondence to"
              },
              "county": {
                "type": "string",
                "description": "UK County",
                "maxLength": 50,
                "minLength": 0
              },
              "department_name": {
                "maxLength": 60,
                "minLength": 0,
                "type": "string",
                "description": "Used to supplement Organisation Name to identify a department within the organisation"
              },
              "dependent_locality": {
                "maxLength": 35,
                "minLength": 0,
                "type": "string",
                "description": "Used when the same thoroughfare or street name reoccurs in a Post town"
              },
              "dependent_street": {
                "maxLength": 80,
                "minLength": 0,
                "type": "string",
                "description": "Used to supplement street, when a street name is used twice in the same post town"
              },
              "double_dependent_locality": {
                "maxLength": 35,
                "minLength": 0,
                "type": "string",
                "description": "Used to supplement Dependant Locality, when the dependant locality exists twice in the same locality"
              },
              "organisation_name": {
                "maxLength": 60,
                "minLength": 0,
                "type": "string",
                "description": "The name of the organisation at the address"
              },
              "post_town": {
                "maxLength": 35,
                "minLength": 0,
                "type": "string",
                "description": "The town of the delivery point of the address"
              },
              "postcode": {
                "type": "string",
                "description": "A UK postcode",
                "minLength": 1,
                "pattern": "^([Gg][Ii][Rr] ?0[Aa]{2})|([A-Za-z]{1,2}[0-9][0-9A-Za-z]? ?[0-9][A-Za-z]{2})$"
              },
              "street": {
                "maxLength": 80,
                "minLength": 0,
                "type": "string",
                "description": "The street of the address"
              },
              "sub_building_description": {
                "maxLength": 40,
                "minLength": 0,
                "type": "string",
                "description": "Used to identify a specific building when a premise is split into individual units"
              },
              "uprn": {
                "minimum": 1,
                "type": "integer",
                "format": "int64",
                "description": "The Unique Property Reference Number of the address"
              }
            }
          }
        ]
      },
      "NotificationResponse": {
        "type": "object",
        "properties": {
          "notification_id": {
            "type": "string",
            "format": "uuid",
            "description": "The unique identifier of the notification"
          },
          "created_datetime": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-01T00:00:00Z",
            "description": "Date and time the notification was created"
          },
          "event_datetime": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-01T00:00:00Z",
            "description": "Date and time the event occurred"
          },
          "payload_schema": {
            "type": "string",
            "description": "A link to a resource that describes the schema of the payload, this could be a JSON schema or documentation for example",
            "format": "uri",
            "example": "https://example.com/"
          },
          "notification_type": {
            "type": "string",
            "description": "The type of notification, required to distiguish notification types that share a schema",
            "example": "TYPE_1"
          },
          "subject_type": {
            "description": "An indicator for the type of the subject",
            "type": "string",
            "example": "subject_type"
          },
          "subject": {
            "type": "string",
            "description": "Unique reference to the subject of the notification",
            "example": "subject"
          },
          "additional_provider_filter": {
            "type": "string",
            "description": "Provides additional filtering for larger integrators"
          },
          "status": {
            "type": "string",
            "enum": [
              "NEW",
              "ACKNOWLEDGED"
            ]
          },
          "payload": {
            "type": "object",
            "description": "The payload of the notification",
            "additionalProperties": true
          }
        }
      },
      "BulkAcknowledgeResult": {
        "type": "object",
        "properties": {
          "acknowledged": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "not_found": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "AttachADocumentRequest": {
        "required": [
          "data"
        ],
        "type": "object",
        "description": "The request to send to the endpoint to request an upload URL",
        "properties": {
          "data": {
            "properties": {
              "certification_statement_type": {
                "type": "string",
                "description": "    * `CERTIFIED` - I/we certify this is a true copy of an original document\n    * `CERTIFIED_BY_ANOTHER` - I/we certify this document is a true copy of an original document which is certified by a conveyancer to be a true copy of the original\n    * `NOT_CERTIFIED` - This document is an uncertified copy\n",
                "enum": [
[...]
